*.pyc
*~
.coverage
coverage.xml
nosetests.xml
pylint.out
.idea/
results/
cots/
dependencies/
/source_core/build
/source_plugins/build
virtualenv/
source_core/ruleeditor/ui/*.py
requirements/
source_core/dist/
source_core/rule_editor.egg-info/
source_plugins/dist/
source_plugins/plugins_ruleeditor.egg-info/
